version: '3.8'
services:
  web:
    build: .
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=utu
      - DB_PASSWORD=12345678
      - DB_NAME=mi_base_de_datos
    volumes:
      - ./src:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: mi_base_de_datos
      POSTGRES_USER: utu
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: